/* FOOTER */

.soc-media-ul a {
  text-align: center;
  text-decoration: none;
}

footer {
  background: #B6C4A2;
  padding: 3em 0;
  width: 100%;
  margin-top: 100px;
}

.soc-media-ul {
  display: flex;
  justify-content: center;
}

.soc-media-ul a {
  display: block;
  font-size: 1rem;
  color: #fff;
}

#footer ul {
  list-style-type: none;
  padding-left: 0;
}

.social-media-icon a {
  font-size: 30px;
}

.copy {
  font-size: 20px;
  color: white;
  text-align: center;
}

.social-media-icon:not(:last-child) {
  padding-right: 10px;
}
